.App {
  text-align: center;
  background-color: #f2e8d8;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: #eeeeee;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #2E4C6D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: #dae8f5;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  font-family: Helvetica;
  padding-left: 50px;
  padding-right: 50px;
}

.auth-page a {
  color: #457ad5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  cursor: pointer;
}

.docs-main {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.react-quill {
  background-color: #ffffff;
  margin: 30px;
  min-height: 700;
}

.title-header {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  left: 46%;
  right: 50%;
  font-size: x-large;
}

.add-input {
  width: 100%;
  height: 60px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
}

.grid-1 {
  margin-top: 30px;
  border: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.grid-2 {
  border: 2px solid #FC997C;
  text-align: center;
  background-color: #FC997C;
  color: #1B435D;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.grid-2:hover {
  background-color: #f0c6b9;
  cursor: pointer;
}

.btn-add {
  width: 100%;
  margin: 20px;
  padding-bottom: 20px;
}

.grid-btn {
  height: 100px;
  width: 100px;
  align-self: center;
}

.grid-btn:hover {
  border: 2px solid #dae8f5;
}

.title-add {
  padding-left: 110px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #213555;
}

.title-login {
  color: #eeeeee;
  text-decoration: none;
  margin: 10px;
  font-size: 3rem; /* Updated font size */
  /* font-weight: bold; */
  font-family: Helvetica;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-3 {
  margin-top: 30px;
  margin-left: 200px;
  width: 1000px;
  border: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

/* .backButton{
  margin-top: 20px;
  margin-bottom: 20px;
} */

.text-sum {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  font-weight: bold;
}

.text-sum-words {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.text-box {
  margin: 20px auto;
  width: 500px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.text-field {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.grid-2-todo {
  border: 1px solid #FC997C;
  text-align: center;
  background-color: #f0c6b9;
  color: #1B435D;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.grid-2-todo:hover {
  background-color: #FC997C;
  cursor: pointer;
}
