.App {
  text-align: center;
  background-color: #F2E8D8;
}

body {
  padding: 0%;
  margin : 0%;
  background-color: #EEEEEE;
}

nav {
  margin : 0;
  width: 100%;
  height: 80px;
  background-color: #334257;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  
}

a {
  color: #DAE8F5;
  text-decoration: none ;
  margin: 10px;
  font-size: 25px;
  font-family: Playfair Display;
  padding-left: 50px;
  padding-right: 50px;
}

.docs-main{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.add-docs{
    height: 40px;
    width: 200px;
    background-color: #ffc107;
    border: none;
    cursor: pointer;
    font-family: Playfair Display;
  }

.react-quill{
  background-color: #FFFFFF;
  margin: 30px;
  min-height: 700;
}

.title-header{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  left: 46%;
  right: 50%;
  font-size: x-large;
}


.add-input{
  width: 100%;
  height: 60px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}

.grid-1{
  margin-top: 30px;
  border: 10px ;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px
}

.grid-2{
  border: 2px solid #DAE8F5;
  text-align: center;
  background-color: #FFFFFF;
  font-family: Playfair Display;

  
}

.grid-2:hover {
  background-color: #DAE8F5;
  cursor: pointer;
}

.btn-add{
  width: 100%;
  margin: 20px;
  padding-bottom: 20px;
}

.grid-btn{
  height: 100px;
  width: 100px;
  align-self: center;
}

.grid-btn:hover{
  border: 2px solid #DAE8F5;
}

.title-add{
  padding-left: 110px;
  padding-bottom: 20px;
}

.title-login{
  color: #334257;
  text-decoration: none ;
  margin: 10px;
  font-size: xx-large;
  font-family: Playfair Display;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-3{
  margin-top: 30px;
  margin-left: 200px;
  width: 1000px;
  border: 10px ;
  padding: 20px;
  display: grid;
  grid-template-columns: auto ;
  gap: 10px
}

/* .backButton{
  margin-top: 20px;
  margin-bottom: 20px;
} */